// Place all the styles related to the public::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all {
  background: #1D6BDE;
}

.contents {
  transform:skew(0, 5deg);
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.contents__inner {
  padding: 60px 0;
}

.contents__inner_text {
  color: #fff;
  padding-left: 20px;
}

.contents__image {
  height: 500px;
  background-image: image-url('VR_image1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

