// Place all the styles related to the public::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// トップ画面テキスト要素
.contents {
  color: #fff;
  padding: 50px 0 80px;
}

.contents__commentary {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
  text-align: center;
}

.contents__commentary_title {
  padding: 50px 0;
}

.contents__criterion {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
  vertical-align: top;
　text-align: right;
}

.contents__criterion span {
  text-decoration-line: line-through;
}


// トップ画面ルーム要素のレイアウト
.rooms {
  width: 70%;
  margin: 0 auto;
  padding: 50px 10px 120px;
  text-align: center;
}

.rooms__text {
  color: #fff;
}

.rooms__text_title {
  font-size: 2em;
}

.rooms__text_cite {
  color: #fff;
  font-size: 3em;
}