<header class="contents__header">
  <%= render 'layouts/header' %>
</header>
<div class="user">
  <div class="user__content">
    <h4>VRが好きな貴方へ</h4>
    <p>
      VRが好きだけど日本語で語り合える場が少ないと思ったことはありませんか？</br>
      </br>
      このサイトはVR友は欲しい、だけど初手「VRChat」は難易度が高い！</br>
      VRゲームは好きだがコミュニケーションは文字だけで良い！</br>
      自分の好きなものだけ語りたい！</br>
      このコンテンツ、日本語非対応だけど日本語で語りたい！</br>
      </br>
      そんな思いを持つ貴方の為に用意したコミニケーションツールがこの「VR's」です。</br>
      ここではコンテンツごとのチャットルームを作る事が出来ます。</br>
      ドキュメントが英語だったりするとどうしても忌避しがちですが、やってみると楽しかったりするものです。</br>
      なのでそんな皆の苦手意識を払拭し、貴方の好きな物を熱く語って沼に引きずり込みましょう！
      </br>
      VRは体験してみないとそのクオリティを理解出来ないにも関わらす、敷居が高めなそのお値段と</br>
      日本語対応コンテンツの少なさからかイマイチ普及が進んでいないようにAMUは思います。</br>
      「VR’s」は、開発者さんにお任せするしかないお値段はさて置き、</br>
      せめて言語のハードルだけでも下げられたら良いと思い、開設しました。</br>
      皆で日本のVR市場を活性化させて行きましょう！</br>
    </p>
  </div>
</div>