// Place all the styles related to the admin::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table__position {
  width: 70%;
  margin: 50px auto;
}

.table__status {
  color: #5BFF7F;
  text-decoration: none;
}

.table__status_reverse {
  color: #FF773E;
  text-decoration: none;
}