/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-left: 72px
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}



.all {
  background: #1D6BDE;
}

.pagination {
  margin-top: 30px;
  font-size: 25px;
}

.errors {
  list-style: none;
  color: #FF3366;
}


@media screen and (max-width:425px) {

  main {
    margin-left: 0px
  }

  br {
    display:none
  }

  /*manu.scss*/
  .menu {
    top: 45px;
  }

  .menu__icon {
    background: rgba(38, 38, 38, 0);
  }

  .menu__icon_list {
    border-bottom: none;
  }

  .menu__text {
    display:none
  }

  .menu__info {
    display:none
  }

  /*header.scss*/
  .header {
    height: 300px;
  }

  .header__title {
    top: 100px;
  }

  .header__title_text {
    font-size: 3em;
  }

  .header__title_subtext {
    font-size: 0.8em;
  }

  .contents__header {
    height: 300px;
  }

  .contents__header_reverse {
    height: 300px;
  }

  .contents__image {
    height: 300px;
  }

  .contents__image_two {
    height: 300px;
  }

  /*homes.sccs*/
  .contents__commentary {
    width: 95%;
    font-size: 0.9em;
  }

  .contents__criterion {
    width: 95%;
    font-size: 0.9em;
  }

  .rooms {
    width: 95%;
    font-size: 0.9em;
  }

  .rooms__text_title {
    font-size: 2em;
  }

  .rooms__text_cite {
    color: #fff;
    font-size: 1.5em;
  }

  /*users.scss*/
  .user {
    width: 95%;
    font-size: 0.9em;
  }

  .icon__body {
    width: 100px;
    height: 100px;

  }

  .icon__body_mypage {
    width: 200px;
    height: 200px;

  }

  .user__textbox_body {
    width: 80%;
  }
  .user__textbox_bigbody {
    width: 80%;
  }

  .form {
    margin: 0 auto;
    width: 95%;
  }

  /*rooms.scss*/
  .room__messages_container {
    min-height: 560px;
  }

  .room__header_name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  /*admin/user.scss*/
  .table__position {
    width: 95%;
  }

}

@media screen and (max-width:768px) {
  /*manu.scss*/
  .menu__info {
    display:none
  }

  /*header.scss*/
  .header {
    height: 300px;
  }

  .header__title {
    top: 100px;
  }

  .header__title_text {
    font-size: 3em;
  }

  .header__title_subtext {
    font-size: 0.8em;
  }

  .contents__header {
    height: 300px;
  }

  .contents__header_reverse {
    height: 300px;
  }

  .contents__image {
    height: 300px;
  }

  .contents__image_two {
    height: 300px;
  }

  /*homes.sccs*/
  .contents__commentary {
    width: 95%;
    font-size: 0.9em;
  }

  .contents__criterion {
    width: 95%;
    font-size: 0.9em;
  }

  .rooms {
    width: 95%;
    font-size: 0.9em;
  }

  .rooms__text_title {
    font-size: 2em;
  }

  .rooms__text_cite {
    color: #fff;
    font-size: 1.5em;
  }

  /*users.scss*/
  .user {
    width: 95%;
    font-size: 0.9em;
  }

  .icon__body {
    width: 100px;
    height: 100px;

  }

  .icon__body_mypage {
    width: 200px;
    height: 200px;

  }

  .user__textbox_body {
    width: 80%;
  }
  .user__textbox_bigbody {
    width: 80%;
  }

  .form {
    margin: 0 auto;
    width: 95%;
  }

  /*rooms.scss*/
  .room__messages_container {
    min-height: 267px;
  }

  .room__header_name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  /*admin/user.scss*/
  .table__position {
    width: 95%;
  }
}