<header class="contents__header">
  <%= render 'layouts/header' %>
</header>
<article class="informations">
  <section class="informations__contents">
    <div class="informations__contents_text">
     <h4 class="informations__contents_title ">
      VRを始めたいけど3D酔いしやすくて不安な貴方へ
      </h4>
        <p>
          初手私事カミングアウトで申し訳ないですが、実は私も酔いやすいです。激しい動作をするものだとすぐに気持ち悪くなってしまいます。しかしながら「自分は酔いやすいからVRは無理だろう」「ゲームセンターでVR体験したら気持ち悪くなった」でVR体験を諦めてしまうのは勿体ないです。ちなみにこれは「人は慣れる生き物だから慣れるまで頑張れ」とかそういう根性論では無く、単純に私達の様に酔いやすい体質の人でも楽しめるソフトが普通にあるという意味です。なので「VRをやりたいけど高いお金を出して設備を揃えても酔いで楽しめないかもしれない」と不安視されていた方はそこに恐れを感じる必要はありません。
        </p>
          <h4>以下は、Oculusさんの基準でコンテンツの酔いやすさの指標を表すものです。</br>
            これに対し、私の経験則を加えてプレイのしやすさを説明するのでソフト購入の指標にしてみて下さいね。</br>
            ※あくまでも個人的私感によるものです、異論反論は受けます。
            </h4>
            <b>
              視界の動き：少ない
            </b>
              <p>
              酔いやすい人も、そうじゃない人も、まずはここから始めましょう。理由は２つありますが、まずひとつ目は自分がどの程度の動きに対して許容出来るかの指標となるからです。そして２つ目、これが一番重要な事となります、結局なんだかんだ言ってもVRをプレイする上で慣れというのは結構大事なポイントで、比較的酔いにくい此方から始めると、楽しみながらVRに慣れていく事が出来るかと思うので、私はそうすることを推奨します。
              </p>
            <b>
              視界の動き：やや強い
            </b>
              <p>
                VRをプレイするのに慣れてきたら此方にも手を出してみましょう。ここが酔いやすい私達の一つの壁と言えるかと思います。コンテンツに方向感覚を失わせる(酔う原因)ような表現が含まれるようになり、慣れと言う名の酔わない為の目の動かし方を履修する事が必要になってきます。これはある日突然出来るようになってたりするので、早く慣れようと無理をする必要はありません、VRコンテンツは逃げないので娯楽を娯楽として楽しみましょう。
              </p>
            <b>
              視界の動き：激しい
            </b>
              <p>
                選ばれし民にしか許されぬVRコンテンツの総称。<span>そもそもプレイできる人いるの？</span>私はかれこれVR歴５年になりますが、未だ出来るようになる気がしません。びっくりするくらい酔います。でも面白そうなコンテツは色々あってついポチりそうになりますが、無理なものは無理、無理過ぎです。なので私はコンテンツではなく、年々進化していくVR技術の発展で酔わなくなるのを期待してます。
              </p>
          <b>
            VRは最初にプレイするコンテンツを間違わなければ、他には無い最高の体験を与えてくれます。
          </b>
            <p>
              誰だって娯楽に苦痛は伴って欲しくはないでょうし、やってみようと思ってくれた人は変な苦手意識を持たないためにもその辺りに気をつけてはじめの一歩を踏み出して下さいね。
            </p>
    </div>
  </section>
</article>
