<header class="contents__header">
  <%= render 'layouts/header' %>
</header>
<article class="informations">
  <section class="informations__contents">
    <div class="informations__contents_text">
      <h3 class="informations__contents_title"><%= @information.name %></h3>
        <p><%= @information.body %></p>
    </div>
  </section>
</article>
