<div class="header">
  <div class="header__title">
      <h1 class="header__title_text">VR's</h1>
        <h3 class="header__title_subtext">Fun that you can't understand without experiencing it</h3>
　　 </div>
</div>