<nav class="menu">
  <div class="menu__icon">
    <ul>
      <li class="menu__icon_list">
        <a class="menu__icon_link" title="Home" href="#">
          <i class="fas fa-home "></i></a></li>
      <li class="menu__icon_list">
        <a class="menu__icon_link" href="About">
          <i class="fas fa-globe-americas"></i></a></li>
      <li class="menu__icon_list">
        <a class="menu__icon_link" href="About">
          <i class="fas fa-user"></i></a></li>
      <li class="menu__icon_list">
        <a class="menu__icon_link" href="#">
          <i class="far fa-sticky-note"></i></a></li>
      <li class="menu__icon_list">
        <a class="menu__icon_link" href="#">
          <i class="fas fa-bullhorn"></i></a></li>
    </ul>
  </div>
  <div class="menu__text">
    <ul>
      <li class="menu__text_list">
        <a class="menu__text_link" title="Home" href="#">
          Home</a></li>
      <li class="menu__text_list">
        <a class="menu__text_link" href="#" >
          Admin</a></li>
      <li class="menu__text_list">
        <a class="menu__text_link" href="#" >
          My page</a></li>
      <li class="menu__text_list">
        <a class="menu__text_link" href="#" >
          Information</a></li>
      <li class="menu__text_list">
        <a class="menu__text_link" href="#" >
          Help</a></li>
    </ul>
  </div>
    <div class="menu__info">
      <div class="menu__info_logo">
        VR's</div>
      <div class="menu__info_name">
        Co. AMU</div>
      <div class="menu__info_quote">
        WHAT WE DO IS WHO WE ARE</div>
      <div class="menu__info_social">
        <a class="menu__info_link"href="https://github.com/Amu-Y/VR-s">
          <i class="fab fa-github"></i></a>
    </div>
  </div>
</nav>